*{
  margin: 0;
  padding: 0;
}
.topBar {
  height: 81px;
  font-family: Roboto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo{
    height: 42px;
    width: 281px;
  }
  &__events > a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #746B6B;
    text-decoration: none;
    margin-left: 47px;
    &:hover{
      color: rgb(42, 141, 0);
    }
  }
}

.container{
  max-width: 1140px;
  min-width: 321px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.bestEventBox{
  background-color: #353537;
  width: 100%;
  height: 755px;
  overflow: hidden;
  position: relative;
  margin-bottom: 57px;
  & > img{
    max-width: 1440px;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
  }
  &__date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FCFCFC;
    margin-top: 111px;
    margin-bottom: 40px;
  }
  &__title{
    width: 667px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 116px;
  }
  &__btnBox{
    display: flex;
    & > div{
      margin-right: 24px;
    }
  }
}

.moreDetailsBtn{
  width: 140px;
  height: 47px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 47px;
  text-align: center;
  content: "ДЕТАЛЬНІШЕ";
  cursor: pointer;
  &:hover{
    border-color: white;
    color: white;
  }
}

.registerBtn{
  width: 134px;
  height: 47px;
  background-color: #43a047;
  border-radius: 3px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 47px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color:#1e8a22;
  }
}

.eventTemplate{
  max-width: 1140px;
  &__title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
  }
  &__menu{
    margin-top: 40px;
    width: 709px;
    display: flex;
    justify-content: space-between;
    & p:hover{
      color: rgb(42, 141, 0);
    }
    & > p{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      color: #746B6B;
    }
    &__underline{
      width: calc(100% - 2px);
      margin: 40px auto;
      height: 1px;
      background-color: #8B8D91;
    }
  }
  &__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__event{
    width: 362px;
    margin: 0 0.7% 24px;
    &__topBox{
      width: 100%;
      height: 263px;
      position: relative;
      margin-bottom: 16px;
    }
    &__img{
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    &__date{
      position: absolute;
      width: 79px;
      height: 40px;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: #FFFFFF;
      & p{
        position: absolute;
        left: 11px;
      }
      & span{
        font-size: 14px;
      }
      & div{
        background: #050C1A;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    &__outer{
      position: absolute;
      width: 105px;
      height: 31px;
      left: 10px;
      top: 55px;
      text-align: center;
      background: #7802EE;
      border-radius: 3px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 31px;
      color: #F2F2F2;
    }
    &__inner{
      position: absolute;
      width: 113px;
      height: 31px;
      left: 10px;
      top: 55px;
      text-align: center;
      background: #01D2F1;
      border-radius: 3px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 31px;
      color: #F2F2F2;
    }
    &__title{
      margin: 16px 0;
      font-family: Poppins;
      font-size: 22px;
      color: #050C1A;
    }
    &__text{
      font-family: "Noto Sans";
      font-size: 14px;
      line-height: 20px;
      color: #44474E;
    }
  }
  &__expandBtn{
    width: 163px;
    height: 47px;
    border: 1px solid #44474E;
    box-sizing: border-box;
    border-radius: 3px;
    margin: auto;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    color: #44474E;
    margin-bottom: 57px;
    cursor: pointer;
    &:hover {
      border-color:#050c1A;
      color: #050C1A;
    }
  }

}

.event-on{
  color: #050C1A !important;
}

.socialBox {
  width: 100%;
  height: 787px;
  background: #44474E;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  &__text {
    margin: auto;
    padding-top: 236px;
    width: 511.06px;
  }
  &__join{
    margin-top: 10px;
  }
  &__facebook{
    margin: auto;
    margin-top: 5px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 170px;
    &  img{
    margin-right: 10px;
  }
    &:hover{
      background-color: rgba(1,1,1,0.1);
    }
  }
}

.respond{
  height: 528px;
  padding: 57px 0;
  &__star{
    color: #EB5756;
  }
  &__blancs{
    float: left;
    width: 50%;
    height: 100%;
    & input, textarea {
      padding: 2px 5px;
      box-sizing: border-box;
      border: 1px solid #8B8D91;
    }

    &__note{
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 17px;
      color: #8d8b91;
    }
    &__messageUs{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      margin-bottom: 11px;
    }
    &__sendBtn{
      margin-top: 16px;
      width: 275px;
      height: 51px;
      background: #43A047;
      border-radius: 3px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 51px;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color:#1e8a22;
      }
    }
  }
  &__illustration{
    float: left;
    width: 50%;
  }
}

.footer{
  width: 100%;
  height: 82px;
  background: #44474E;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 82px;
  color: #FFFFFF;
  &>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__facebook{
    align-items: center;
    display: flex;
    font-family: "Noto Sans";
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    &>img{
      height: 36.9px;
      margin-right: 16px;
    }
  }
  &__logo{
    width: 225px;
    height: 58px;
  }
}

#userName{
  margin-top: 6px;
  margin-bottom: 12px;
  width: 558px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 3px;
  & span{
    display: none;
  }
}
#userEmail{
  margin-top: 6px;
  margin-bottom: 16px;
  width: 558px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 3px;
}
#userMessage{
  margin-top: 6px;
  margin-bottom: 16px;
  width: 558px;
  height: 173px;
  box-sizing: border-box;
  border-radius: 3px;
}
.inputWrong{
  color: #EB5757;
  & > input {
    border-color: #EB5757;
  }
}