@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.topBar {
  height: 81px;
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .topBar__logo {
    height: 42px;
    width: 281px; }
  .topBar__events > a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #746B6B;
    text-decoration: none;
    margin-left: 47px; }
    .topBar__events > a:hover {
      color: #2a8d00; }

.container {
  max-width: 1140px;
  min-width: 321px;
  margin: auto;
  position: relative;
  z-index: 2; }

.bestEventBox {
  background-color: #353537;
  width: 100%;
  height: 755px;
  overflow: hidden;
  position: relative;
  margin-bottom: 57px; }
  .bestEventBox > img {
    max-width: 1440px;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0; }
  .bestEventBox__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FCFCFC;
    margin-top: 111px;
    margin-bottom: 40px; }
  .bestEventBox__title {
    width: 667px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 116px; }
  .bestEventBox__btnBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .bestEventBox__btnBox > div {
      margin-right: 24px; }

.moreDetailsBtn {
  width: 140px;
  height: 47px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 47px;
  text-align: center;
  content: "ДЕТАЛЬНІШЕ";
  cursor: pointer; }
  .moreDetailsBtn:hover {
    border-color: white;
    color: white; }

.registerBtn {
  width: 134px;
  height: 47px;
  background-color: #43a047;
  border-radius: 3px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 47px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer; }
  .registerBtn:hover {
    background-color: #1e8a22; }

.eventTemplate {
  max-width: 1140px; }
  .eventTemplate__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px; }
  .eventTemplate__menu {
    margin-top: 40px;
    width: 709px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .eventTemplate__menu p:hover {
      color: #2a8d00; }
    .eventTemplate__menu > p {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      color: #746B6B; }
    .eventTemplate__menu__underline {
      width: calc(100% - 2px);
      margin: 40px auto;
      height: 1px;
      background-color: #8B8D91; }
  .eventTemplate__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .eventTemplate__event {
    width: 362px;
    margin: 0 0.7% 24px; }
    .eventTemplate__event__topBox {
      width: 100%;
      height: 263px;
      position: relative;
      margin-bottom: 16px; }
    .eventTemplate__event__img {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1; }
    .eventTemplate__event__date {
      position: absolute;
      width: 79px;
      height: 40px;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: #FFFFFF; }
      .eventTemplate__event__date p {
        position: absolute;
        left: 11px; }
      .eventTemplate__event__date span {
        font-size: 14px; }
      .eventTemplate__event__date div {
        background: #050C1A;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute; }
    .eventTemplate__event__outer {
      position: absolute;
      width: 105px;
      height: 31px;
      left: 10px;
      top: 55px;
      text-align: center;
      background: #7802EE;
      border-radius: 3px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 31px;
      color: #F2F2F2; }
    .eventTemplate__event__inner {
      position: absolute;
      width: 113px;
      height: 31px;
      left: 10px;
      top: 55px;
      text-align: center;
      background: #01D2F1;
      border-radius: 3px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 31px;
      color: #F2F2F2; }
    .eventTemplate__event__title {
      margin: 16px 0;
      font-family: Poppins;
      font-size: 22px;
      color: #050C1A; }
    .eventTemplate__event__text {
      font-family: "Noto Sans";
      font-size: 14px;
      line-height: 20px;
      color: #44474E; }
  .eventTemplate__expandBtn {
    width: 163px;
    height: 47px;
    border: 1px solid #44474E;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    margin: auto;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    color: #44474E;
    margin-bottom: 57px;
    cursor: pointer; }
    .eventTemplate__expandBtn:hover {
      border-color: #050c1A;
      color: #050C1A; }

.event-on {
  color: #050C1A !important; }

.socialBox {
  width: 100%;
  height: 787px;
  background: #44474E;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF; }
  .socialBox__text {
    margin: auto;
    padding-top: 236px;
    width: 511.06px; }
  .socialBox__join {
    margin-top: 10px; }
  .socialBox__facebook {
    margin: auto;
    margin-top: 5px;
    height: 50px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 170px; }
    .socialBox__facebook img {
      margin-right: 10px; }
    .socialBox__facebook:hover {
      background-color: rgba(1, 1, 1, 0.1); }

.respond {
  height: 528px;
  padding: 57px 0; }
  .respond__star {
    color: #EB5756; }
  .respond__blancs {
    float: left;
    width: 50%;
    height: 100%; }
    .respond__blancs input, .respond__blancs textarea {
      padding: 2px 5px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #8B8D91; }
    .respond__blancs__note {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 17px;
      color: #8d8b91; }
    .respond__blancs__messageUs {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      margin-bottom: 11px; }
    .respond__blancs__sendBtn {
      margin-top: 16px;
      width: 275px;
      height: 51px;
      background: #43A047;
      border-radius: 3px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 51px;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer; }
      .respond__blancs__sendBtn:hover {
        background-color: #1e8a22; }
  .respond__illustration {
    float: left;
    width: 50%; }

.footer {
  width: 100%;
  height: 82px;
  background: #44474E;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 82px;
  color: #FFFFFF; }
  .footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__facebook {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans";
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF; }
    .footer__facebook > img {
      height: 36.9px;
      margin-right: 16px; }
  .footer__logo {
    width: 225px;
    height: 58px; }

#userName {
  margin-top: 6px;
  margin-bottom: 12px;
  width: 558px;
  height: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px; }
  #userName span {
    display: none; }

#userEmail {
  margin-top: 6px;
  margin-bottom: 16px;
  width: 558px;
  height: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px; }

#userMessage {
  margin-top: 6px;
  margin-bottom: 16px;
  width: 558px;
  height: 173px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px; }

.inputWrong {
  color: #EB5757; }
  .inputWrong > input {
    border-color: #EB5757; }
